<section class="home">
  <!-- container -->
  <div class="home-container home-container--company container">
    <!-- home__top--company -->
    <div class="home__top home__top--company" data-aos="zoom-in">
      <div class="home__left home__left--company">
        <div class="home__img home-img home-img--logo">
          <img loading="lazy" src="@img-logo" class="image" width="@img-widht" height="@img-height" alt="@img-alt">
        </div>
      </div>
      <div class="home__right">
        <div class="home__content home-content">
          <div class="home-content__top home-content__top--no-logo">
            <div class="home-content__top-left">
              <h1 class="home-content__title home-title">
                @name
              </h1>
              <p class="home-content__descr home-descr">@specialization</p>
            </div>
            <div class="home-content__top-right">
              <div class="home-content__logo home-content__logo--none">
                <img loading="lazy" src="@logo.svg" class="image" width="@logo-width" height="@logo-height"
                  alt="@logo-alt">
              </div>
            </div>
          </div>
          <ul class="list-reset home-content__list">
            <li class="home-content__item">
              <a href="tel:@tel-href" class="home-content__link item-link item-link--tel">
                <i class="fa-solid fa-mobile"></i>
                <span class="item-link__span">@tel-text</span>
              </a>
            </li>
            <li class="home-content__item">
              <a href="mailto:@mail-href" class="home-content__link item-link item-link--mail">
                <i class="fa-solid fa-envelope"></i>
                <span class="item-link__span">@mail-text</span>
              </a>
            </li>
            <li class="home-content__item">
              <a href="@site-link-href" class="home-content__link item-link item-link--site-link">
                <i class="fa-solid fa-link"></i>
                <span class="item-link__span">@site-link-text</span>
              </a>
            </li>
            <li class="home-content__item">
              <div class="home-content__link item-link item-link--date">
                <i class="fa-solid fa-calendar"></i>
                <span class="item-link__span">@date-text</span>
              </div>
            </li>
            <li class="home-content__item">
              <div class="home-content__link item-link item-link--location">
                <i class="fa-solid fa-location-dot"></i>
                <span class="item-link__span">@location-text</span>
              </div>
            </li>
          </ul>
        </div>
        <ul class="list-reset home-content__social-list social">
          <!-- tg -->
          <li class="social__item social-item">
            <a href="#" class="social__link social-link">
              <i class="fa-brands fa-telegram"></i>
            </a>
          </li>
          <!-- vk -->
          <li class="social__item social-item">
            <a href="#" class="social__link social-link">
              <i class="fa-brands fa-vk"></i>
            </a>
          </li>
          <!-- instagram -->
          <li class="social__item social-item">
            <a href="#" class="social__link social-link">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <!-- facebook -->
          <li class="social__item social-item">
            <a href="#" class="social__link social-link">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <!-- twitter -->
          <li class="social__item social-item">
            <a href="#" class="social__link social-link">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <!-- google -->
          <li class="social__item social-item">
            <a href="#" class="social__link social-link">
              <i class="fa-brands fa-google"></i>
            </a>
          </li>
          <!-- github -->
          <li class="social__item social-item">
            <a href="#" class="social__link social-link">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <!-- behance -->
          <li class="social__item social-item">
            <a href="#" class="social__link social-link">
              <i class="fa-brands fa-behance"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="home__btns home-btns">
        <ul class="list-reset home-btns__list">
          <li class="home-btns__item">
            <button class="btn-reset btn home-btns__btn" onclick="window.history.back()">
              <i class="fa-solid fa-arrow-left"></i>
              <span>Назад</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="home__bottom home-bottom">
      <ul class="list-reset home-bottom__list">
        <li class="home-bottom__item">
          <button class="btn-reset btn home-bottom__btn">
            <i class="fa-solid fa-download"></i>
            <span>Сохранить в контакты</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
